<h1>Stupid Coaching</h1>
<div>
  <h3><%=@question%></h3>
  <p>-You</p>
</div>
<div>
  <h3><%=@answer%></h3>
  <p>-Coach</p>
</div>
<%= link_to "Ask a new question", ask_path %>

<!-- If the message is I am going to work, the coach will answer Great!
If the message has a question mark ? at the end, the coach will answer Silly question, get dressed and go to work!.
Otherwise the coach will answer I don't care, get dressed and go to work! -->
