<form action="/answer" data-turbo="false" method="get">
  <label for="question">Ask the coach!</label>
  <input type="text" id="question" name="question">
  <input type="submit" value="Ask!">
</form>
